doctype html

html(lang="en-GB")

  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
    title #grid

    // Demo styles
    style(type="text/css")

      include ./partial/demo.css

    // Hashgrid styles
    style(type="text/css")

      include ./partial/hashgrid.css

  body
    main#content

      h1
        | #grid&nbsp;
        em v10

      p.summary
        em 30 Nov 2015
          span :
        | #grid (or “Hashgrid”) is a little tool that inserts a&#160;
        a(href="http://en.wikipedia.org/wiki/Grid_(page_layout)") layout grid
        | &nbsp;in web pages, allows you to hold it in place, and toggle between displaying it in the foreground or background. To see it in action, hit&nbsp;
        span(class="key") g
        |  on your keyboard.

      h2 Download

      p#download
        a(href="https://github.com/dotjay/hashgrid/tags") Download #grid
        | &nbsp;from&nbsp;
        a(href="https://github.com/dotjay/hashgrid") GitHub

      h2#features Features

      ul
        li Adaptable for all layout widths and alignments
        li Adaptable for any vertical rhythm value
        li Set keyboard shortcuts to show and hide the grid, hold it in place, toggle it to the foreground and background, and jump between multiple grids
        li Uses a single JavaScript file and a little CSS to control the grid lines, columns and gutters

      p #grid comes set up with a 980px-wide container that includes 20px gutters, and assumes one lead of 20px. A second 660px-wide container is included to show you how to set up multiple grids.

      h2#installation Installation

      ol
        li
          h3 Copy the&nbsp;
            a(href="https://github.com/dotjay/hashgrid/tree/main/dist/javascripts") hashgrid.js
            | &nbsp;script to your project

        li
          h3 Add this script to your page(s) just before the closing <code>&#60;/body&#62;</code> tag

          include ./partial/js_code.jade

        li
          h3 Add the CSS to your page(s)

          include ./partial/css_code.jade

        li
          h3 Modify #grid to suit your needs
          p The CSS and JavaScript is annotated to help you.

      h2#usage Usage

      p The document must have keyboard focus for #grid to work. You may need to click on the document background or <span class="key">TAB</span> into the page first.

      dl
        dt <span class="key">g</span>
        dd Show the grid until you release.
        dt <span class="key">g</span> + <span class="key">h</span>
        dd Show and hold the grid (<span class="key">g</span> will remove it again).
        dt <span class="key">g</span> + <span class="key">f</span>
        dd Toggle the grid to the foreground and back. Pressing <span class="key">f</span> while the grid is held also works.
        dt <span class="key">g</span> + <span class="key">j</span>
        dd Jump to the next grid. Pressing <span class="key">j</span> while the grid is held also works.

      p <em>Note: Hashgrid remembers the state of the grid when you refresh the page. While the grid is in front, you will not be able to interact with the page.</em>

      h2#release-notes Release Notes

      dl
        dt v10&#8201;&#8212;&#8201;30 Nov 2015
        dd Works with vanilla JavaScript - jQuery is no longer required - thanks to <a href="https://github.com/widatama">widatama</a>.
        dt v9&#8201;&#8212;&#8201;30 May 2013
        dd Minor release: Improved example usage to avoid conflicts.
        dt v8&#8201;&#8212;&#8201;6 Oct 2012
        dd
          ul
            li Grid overlay can now be used inside a wrapping container with <code>position: relative;</code> rather than working inside the whole viewport. Thanks to <a href="https://www.tomarnold.de/">Tom Arnold</a>.
            li Holding down the #grid keys will no longer make browsers cry. Thanks to <a href="https://github.com/callumacrae">Callum Macrae</a>.
            li Fixes to cookie handling. Thanks to <a href="http://loonypandora.co.uk/">James Aitken</a>.
            li Optimisations.
        dt v7&#8201;&#8212;&#8201;11 Jun 2011
        dd Minor release: Updated license references.
        dt v6&#8201;&#8212;&#8201;10 Jun 2011
        dd Minor release: Optimisations (thanks to <a href="https://github.com/ajaswa/">Andrew Jaswa</a> for contributions), and now released under an Apache License.
        dt v5&#8201;&#8212;&#8201;3 Nov 2010
        dd
          ul
            li Vertical grid lines can now be set using CSS&#8230; images are no longer required! Thanks to <a href="https://twitter.com/coates">Sean Coates</a> for the contribution.
            li Click events now interact with the page when the grid is in the foreground. Tested in WebKit and Gecko. Thanks to <a href="https://github.com/pdokas">Phil Dokas</a> for the tip about using the <code>pointer-events</code> CSS property.
            li Improved grid rendering, fixing a compatibility issue with jQuery 1.4.3. Thanks to everybody who&#8217;s given feedback.
        dt v4&#8201;&#8212;&#8201;29 Mar 2010
        dd Fixes for multiple grid support under WebKit (Safari and Chrome).
        dt v3&#8201;&#8212;&#8201;22 Feb 2010
        dd Multiple grids can be set up and cycled through at a key press. To avoid keyboard shortcut conflicts, the default keys have been changed (see <a href="#usage">Usage</a>). Using <span class="key">CTRL</span>, <span class="key">ALT</span> or <span class="key">SHIFT</span> as a modifier key is now optional. Keys no longer show or affect the grid while typing in forms.
        dt v2&#8201;&#8212;&#8201;2 Feb 2010
        dd
          ul
            li Keys are now more easily configured (see top of hashgrid.js).
            li Fixed crash when using with disabled CSS.
            li Renamed the GridOverlay object to hashgrid.
        dt v1&#8201;&#8212;&#8201;21 Dec 2009
        dd First release.

      h2#known-issues Known Issues

      ul
        li No known issues.

      h2#license License

      p Copyright 2013-2022 Jon Gibbins

      p Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at<br/>

      a(href="http://www.apache.org/licenses/LICENSE-2.0") http://www.apache.org/licenses/LICENSE-2.0

      p <br/>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.

      p This essentially means that you&#8217;re free to copy, modify and distribute it for any project so long as you provide clear attribution to the author. <a href="https://dotjay.com/contact">Get in touch</a> if you need a different license.


      div#footer(role="contentinfo")
        p #grid was built by <a href="https://dotjay.com/">Jon Gibbins</a> and designed by <a href="https://jontangerine.com/">Jon Tan</a>. Oh, and the CSS for this page playfully uses <a href="http://www.w3.org/TR/css3-color/#svg-color">SVG colour keywords</a> only.


    // Include the Hashgrid script
    script(type="text/javascript" src="dist/javascripts/hashgrid.js")

    // Kick Hashgrid into action
    script.
      var hg = new Hashgrid({
        numberOfGrids: 2
      });
